*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
}
.App{
    background-repeat:'no-repeat';
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.appClimate{
    margin-top: 40px;
}

.climaApp{
    align-self: end;
    
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 0;
    width: 30vw;
    height: 100%;
    border-left: 2px solid black;
    padding: 20px;
    backdrop-filter: blur(40px);
}

.optionCountry{
    margin-top: 40px;
}