*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
}
.App{
    background-repeat:'no-repeat';
    background-size:cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.appClimate{
    margin-top: 10px;
}

.climaApp{
    margin-top: 50%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(40px);
}