*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
}
.App{
    background-repeat:'no-repeat';
    background-size:cover;
    background-position: center;
    display: grid;
    justify-content: end;
    align-items: center;
}
.appClimate{
    margin-top: 40px;
}

.climaApp{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 0;
    width: 400px;
    height: 702px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(40px);
}

.optionCountry{
    margin-top: 40px;
}